# Codenames
codenames~=1.1

# Service
Django==4.0.4
django-allauth==0.50.0
django-filter==21.1
psycopg2-binary==2.9.3

# REST
djangorestframework==3.13.1
dj-rest-auth==2.2.4
requests~=2.27
pydantic==1.9.0

# Other
django-json-widget==1.1.1
ulid-py==1.1.0
boto3~=1.24

# Monitor
sentry-sdk==1.5.10

# Telegram bot
python-telegram-bot~=13.11
dynaconf~=3.1
